---
extends: default

ignore: |
  inventory/host_vars/**/vault.yml

rules:
  line-length: disable
  braces:
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  octal-values:
    forbid-explicit-octal: true
    forbid-implicit-octal: true
